.user {
    height: 200px;
    text-align: -webkit-center;
    margin-bottom: 30px;
}

.user img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    /* justify-content: space-evenly; */
}

.user-info-item {
    text-align: -webkit-center;
}

.badge, .program{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h4 {
    margin-bottom: 40px;
}

.badge-img, .program-img{
    margin-right: 20px;
}

/* .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-auto;
    width: 400px;
} */

.weight-chart {
    width: 300px;
    height: 50px;
    /* text-align: -webkit-match-parent; */
    margin-right: 20px;
}

.pie-chart {
    width: 300px;
    height: 150px;
    /* text-align: -webkit-center; */
}

.recharts-surface {
    /* width: 300px; */
}

.recharts-wrapper {
    /* margin: 100;
    padding: 0; */
    width: 300px;
}
.badge-img{
    background-image: url("https://img.icons8.com/color/96/000000/prize.png");
    width: 100px;
    height: 100px;  
    justify-content: center;
    display: flex;
}

.badge1{
    margin-top: 22px;
}

.user-profile{
    background-color: #212D40;
    color: white;
    overflow: hidden;
    height: 1440px
  
}