.app {
  background-color: #212D40;
  height: 800px;
  font-family: "Garamond";
  color: white;
}

.body3{
  background-color: #212D40;
  /* background-color: #122C34; */
  height: 900px;
  margin: 0;
}


.navbar{
  /* background-color: rgba(248, 194, 0); */
  /* background-color: #F4d35e; */
  /* background-color: #dc3545; */
  background-color: rgb(220,53,69);
  height: 70px;
  /* margin: 0; */
  /* position: fixed; */
}


/* .img {
  height: 20px;
  width: 20px;
  border: 2px black solid;
  border-radius: 50%;
  padding: 0;
} */

.inactive {
  display: none;
}

.is-active {
  display: initial;
}

.d-block {
  height: 350px;
}

